:root {
    --white-color: #E8D8C4;
    --light-color: #C7B7A3;
    --red-color: #6D2932;
    --dark-red-color: #561C24;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-color);
    font-family: GaramB;
}

body {
    background-color: var(--white-color);
}

@font-face {
    font-family: "GaramL"; 
    src: url("/cormorantgaramond/GaramL.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "GaramB"; 
    src: url("/cormorantgaramond/GaramB.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 